{% extends 'master.html' %}

{% block title %}
    progol-datos-videos
{% endblock %}

{% block content %}

<h1>Ingresa los datos del video</h1>

<form action="{% url 'tercera' %}" method="post">

  {% csrf_token %}

  <input type="text" name="nombre_video" id="nombre_video" placeholder="Ingresa nombre del video">
  <br>
   <input type="text" name="extension_video" id="extension_video" placeholder="Ingresa extension del video">
  <br>
   <input type="number" name="tamano_video" id="tamano_video" placeholder="Ingresa tamano en megas del video">
  <br>
  <button type="submit">Guardar</button>
</form>

{% endblock %}
