{% extends 'master.html' %}


{% block title %}
    progol-datos-final
{% endblock %}


{% block content %}
    <a href="{% url 'principal' %}">Pagina principal</a>
    <h1>Datos ingresados correctamente.</h1>

    <h3 class="tituloTablas">Lista de usuarios</h3>
    <table class="primera_tabla">
        <tr>
            <th>Numero de nomina</th>
            <th>Nombre</th>
        </tr>
        {% for usuario in lista_usuarios %}
        <tr>
            <td>{{ usuario.id_nomina }}</td>
            <td>{{ usuario.nombre_usuario }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3 class="tituloTablas">Lista de videos</h3>
    <table class="segunda_tabla">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Extension</th>
            <th>Tamaño</th>
        </tr>

        {% for video in lista_videos %}
        <tr>
            <td>{{ video.id }}</td>
            <td>{{ video.nombre_video }}</td>
            <td>{{ video.extension_video }}</td>
            <td>{{ video.tamano_video }}</td>
        </tr>
        {% endfor %}
    </table>

     <h3 class="tituloTablas">Relacion usuario/video</h3>
    <table class="primera_tabla">
        <tr>
            <th>usuario</th>
            <th>video</th>
        </tr>
        {% for usuario_video in lista_usuario_videos %}
        <tr>
            <td>{{ usuario_video.usuario.id_nomina }}</td>
            <td>{{ usuario_video.video.nombre_video }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}